{{#if user}}
    <main class="index">
        <div class="bg-pic">
            <div class="container text-center my-auto">
                <h1>Guarda tus enlaces favoritos con el Reference Software Manager</h1>
            </div>
        </div>
    </main>
    {{else}}
    <main class="index">
        <div class="bg-pic">
            <div class="container text-center my-auto">
                <h1>Guarda tus enlaces favoritos con el Reference Software Manager</h1>
                <a href="/signup" class="btn btn-primary">
                    Registrate!
                </a>
            </div>
        </div>
    </main>
{{/if}}